<include file="Public/min-header"/>
<div class="wrapper">
    <include file="Public/breadcrumb"/>
	<section class="content">
       <div class="row">
       		<div class="col-xs-12">
            <div class="panel panel-default">
				<div class="alert alert-info alert-dismissible" role="alert">
					提示：平台添加省级限制为 20
					<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span>
					</button>
				</div>
                <div class="panel-heading">
                    <h3 class="panel-title">
                    	<i class="fa fa-list"></i>&nbsp;分销角色管理
                    </h3>
                </div>
                <div class="panel-body">
                <!--<nav class="navbar navbar-default">	     -->
			        <!--<div class="collapse navbar-collapse">-->
			          <!--<form class="navbar-form form-inline" role="search">-->
			            <!--<div class="form-group pull-right">-->
				            <!--<a href="{:U('role_info')}" class="btn btn-primary pull-right"><i class="fa fa-plus"></i>添加角色</a>-->
			            <!--</div>		          -->
			          <!--</form>		-->
			      	<!--</div>-->
    			<!--</nav>-->
	            <div class="table-responsive">
		             <table  class="table table-bordered table-striped">
		                <thead>
		                   <tr>
			                   <th>ID</th>
			                   <th>角色名称</th>
			                   <!--<th>返现比例</th>-->
			                   <th>下线个数限制（为0时不限制其下线数量）</th>
			                   <th>描述</th>
			                   <th>操作</th>
		                   </tr>
		                </thead>
						<tbody id="data-list">
						  <foreach name="list" item="vo" key="k" >
						  	<if condition="get_column('admin',session('admin_id'),'role_id') eq 1">
							  	<tr role="row" align="center">
				                     <td>{$vo.role_id}</td>
				                     <td>{$vo.name}</td>
				                     <!--<td>{$vo.proportion}</td>-->
				                     <td><input type="number" value="{$vo.num}" data-num="{$vo.num}" class="role-num" data-id="{$vo.role_id}"/></td>
				                     <td>{$vo.description}</td>
				                     <td>
				                      <a class="btn btn-primary" href="{:U('role_info',array('role_id'=>$vo['role_id']))}"><i class="fa fa-pencil"></i></a>
				                      <!--<a class="btn btn-danger" href="javascript:void(0)" data-url="{:U('remove')}" data-id="{$vo.role_id}" onclick="delfun(this)"><i class="fa fa-trash-o"></i></a>-->
									 </td>
			                    </tr>
		                   </if>
		                  </foreach>
		                   </tbody>
		               </table>
		            </div>	 
	              	<div class="row">
	              	    <div class="col-sm-6 text-left"></div>
	                    <div class="col-sm-6 text-right">{$page}</div>		
	              	</div>
	          </div>
	        </div>
       	</div>
      </div>
   </section>
</div>
<script>
function delfun(obj){
	if(confirm('确认删除')){		
		$.ajax({
			type : 'post',
			url : $(obj).attr('data-url'),
			data : {act:'del',role_id:$(obj).attr('data-id')},
			dataType : 'json',
			success : function(data){
				if(data==1){
					$(obj).parent().parent().remove();
				}else{
					layer.alert(data, {icon: 2});   //alert('用户名或密码不能为空');// alert(data);
				}
			}
		})
	}
	return false;
}
</script>
<script>
	//By Mr-X
	$('#data-list').on('blur','.role-num',function () {
		var id = $(this).data('id');
		var num = parseInt($(this).val());
		var data_num = parseInt($(this).data('num'));

		if (num == data_num) return;
		if (num < -1){
		    layer.alert('下线人数需大于等于0');
		    return false;
		}
		$.getJSON("{:U('change_column')}",{'role_id':id,'num':num,'data_num':data_num},function (data) {
			if (data.hasOwnProperty('msg')){
                layer.alert(data.msg);
			}
        })
    })
</script>
</body>
</html>