<include file="Public/min-header"/>
<div class="wrapper">
    <include file="Public/breadcrumb"/>
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <nav class="navbar navbar-default">
                            
                        </nav>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="list-table" class="table table-bordered table-striped dataTable">
                                    <thead>
                                    <tr role="row">
                                        <th>编号</th>
                                        <th>金额</th>
                                        <th>描述</th>
                                        <th>时间</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <foreach name="list" item="vo" key="k">
                                        <tr role="row">
                                            <td>{$vo.log_id}</td>
                                            <td>{$vo.store_money}</td>
                                            <td>{$vo.desc}</td>

                                            <td>{$vo.change_time|date='Y-m-d',###}</td>
                                        </tr>
                                    </foreach>
                                    </tbody>
                                    <tfoot>

                                    </tfoot>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <!--<div class="col-sm-6 text-left">
                                <button class="btn btn-default btn-sm checkbox-toggle"><i class="fa fa-square-o"></i></button>
                            </div>-->
                            <div class="col-sm-6 text-right">{$page}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<script>
    //Layer iframe窗
    function pop_iframe(url) {
        //iframe窗
        layer.open({
            type: 2,
            title: '省级推广二维码',
            shadeClose: true,
            shade: false,
            maxmin: true, //开启最大化最小化按钮
            area: ['60%', '90%'],
            content: url
        });
    }
    //Layer msg
    function popLayer(msg) {
        layer.msg(msg);
    }

    //二维码
    $('.share-code').on('click', function () {
        var url = "{:U('share_code')}";
        pop_iframe(url);
    })
    //审核
    $('.btn-examine').on('click', function () {
        var id = $(this).data('id');
        var value = $(this).data('value');
        $.getJSON("{:U('change_column')}", {'id': id, 'value': value}, function (data) {
            if (data.hasOwnProperty('msg')) {
                popLayer(data.msg);
            }
            if (data.hasOwnProperty('status')) {
                if (data.status == 1) {
                    setTimeout(function () {
                        window.location.reload();
                    }, 1000);
                }
            }
        })
    })

    //删除
    $('.btn-remove').on('click', function () {
        var url = $(this).data('url');
        var id = $(this).data('id');
        layer.confirm('确定要删除？', {
            btn: ['确定', '取消'] //按钮
        }, function () {
            $.getJSON(url, {'del_id': id}, function (data) {
                if (data.hasOwnProperty('msg')) {
                    popLayer(data.msg);
                }
                if (data.hasOwnProperty('status')) {
                    if (data.status == 1) {
                        setTimeout(function () {
                            window.location.reload();
                        }, 1000)
                    }
                }
            })
        });
    })

    //更换商家信息
    $('.btn-change').on('click',function () {
        var id = $(this).data('id');
        var url = "{:U('store_change',array('store_id'=>'__ID__'))}";
        url = url.replace('__ID__',id);
        layer.confirm('确定要更换商家信息？', {
            btn: ['确定', '取消'] //按钮
        }, function () {
            location.href = url;
        });
    })

    /*//更换商户密码
    $('.btn-change-pwd').on('click',function () {
        var id = $(this).data('id');
        var url = "{:U('store_change_pwd',array('store_id'=>'__ID__'))}";
        url = url.replace('__ID__',id);
        layer.confirm('确定要修改商家密码？', {
            btn: ['确定', '取消'] //按钮
        }, function () {
            pop_iframe(url);
        });
    })*/
</script>
</body>
</html>   
