<include file="Public/min-header"/>
<div class="wrapper">
    <include file="Public/breadcrumb"/>
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-list"></i>
                        <if condition="$detail['type'] eq 1">
                            店铺信息详情
                            <else/>
                            店铺视频详情
                        </if>
                    </h3>
                </div>
                <div class="panel-body">
                    <div>{$detail.title}</div>
                    <if condition="$detail['type'] eq 1">
                        <div>
                            {$detail.content|htmlspecialchars_decode}
                        </div>
                    </if>
                    <if condition="$detail['type'] eq 2">
                        <video src="{$detail['content']}" controls poster="{$detail.poster}"></video>
                    </if>
                </div>
            </div>
        </div>        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<script>
    $(document).ready(function () {


    });
</script>
</body>
</html>