
                    <form method="post" enctype="multipart/form-data" target="_blank" id="form-order">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover" style="font-size:12px;">
                                <thead>
                                <tr>
                                    <td style="width: 1px;" class="text-center"><input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', this.checked);"></td>
                                    <td class="text-center">
                                        <a href="javascript:sort('order_sn');">订单编号</a>
                                    </td>
                                    <td class="text-center">
                                        用户ID
                                    </td>
                                    <td class="text-center">
                                        店铺
                                    </td>
                                    <td class="text-center">
                                        <a href="">总金额</a>
                                    </td>      
                                    <td class="text-center">
                                        <a href="">应付金额</a>
                                    </td>
                                    <!--<td class="text-center">
                                        <a href="javascript:sort('order_status');">订单状态</a>
                                    </td>-->
                                    <td class="text-center">支付状态</td>
                                    <!--<td class="text-center">发货状态</td>-->
                                    <td class="text-center">支付方式</td>
                                    <!--<td class="text-center">配送方式</td>-->
                                    <td class="text-center">
                                        <a href="javascript:sort('add_time');">下单时间</a>
                                    </td>

                                </tr>
                                </thead>
                                <tbody>
                                <volist name="orderList" id="list">
                                    <tr>
                                        <td class="text-center">
                                        	<input type="checkbox" name="selected[]" value="6">
                                        	<input type="hidden" name="shipping_code[]" value="flat.flat">
                                        </td>
                                        <td class="text-center">{$list.order_sn}</td>
                                        <td class="text-center">{$list.user_id}</td>
                                        <td class="text-center">{:get_column('store','store_id='.$list['store_id'],'store_name')}</td>
                                        <td class="text-center">{$list.account}</td>
                                        <td class="text-center">{$list.need_pay}</td>

                                        <td class="text-center">{$pay_status[$list[pay_status]]}</td>

                                        <td class="text-center"><empty name='list.pay_name'>其他支付方式<else/>{$list.pay_name}</empty></td>

                                        <td class="text-center">{$list.ctime|date='Y-m-d H:i',###}</td>
                                        <td class="text-center">

                                        </td>
                                    </tr>
                                </volist>
                                </tbody>
                            </table>
                        </div>
                    </form>
                    <div class="row">
                        <div class="col-sm-6 text-left"></div>
                        <div class="col-sm-6 text-right">{$page}</div>
                    </div>
<script>
    $(".pagination  a").click(function(){
        var page = $(this).data('p');
        ajax_get_table('search-form2',page);
    });
</script>